*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --sidebar-bg: #FFFFFF;
    --header-bg: #FDFEFF;
    --main-bg: #F0F2F3;
    --green-300: #62C3B1;
    --blue-300: #567AED;
}

body {
    font-family: 'Nunito Sans', sans-serif;;
    background-color: var(--main-bg);
}

a{
    color: inherit;
    background-color: inherit;
}

input, 
button,
textarea {
    font-family: inherit;
}

.divider {
    border-bottom: #3E3E51 solid 2.5px;
    margin: 0 1rem 2rem 1rem;
    
}

.text-center {
    text-align: center;
}

/* sidebar */
.sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 100;
    background-color: var(--sidebar-bg);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sidebar-header {
    padding: 2.5rem 0 1rem 0 ;
    font-weight: 800;
    font-size: 32px;
    line-height: 21px;
    color: #3E3E51;
    font-family: 'Comfortaa', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.sidebar-links {
    justify-content: center;
}

.sidebar-links li a {
    font-size: 16px;
    font-weight: 400;
    color: #144339;
    margin: 0.4rem 1rem;
    background: #fff;
    transition: .1s;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 10px;
    color: #8890b5;
    font-family: 'Comfortaa', sans-serif;
    padding: 14px;
    align-items: center;
}

.sidebar-links li .active {
    background-color: var(--blue-300);
    color: #FFFFFF;
    border-radius: 5px;
}

.sidebar-links li a:hover   {
    background-color: var(--blue-300);
    color: #FFFFFF;
    fill: #FDFEFF;
}

/* .logo img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
} */

/* main */
.main-content {
    /* margin-left: 250px; */
    background-color: var(--main-bg);
    width: calc(100% - 250px);
    height: calc(100vh - 40px);
    /* margin: 40px 40px 40px 340px; */
    margin-left: 250px;
    /* margin-top: 20px; */
    position: relative;
    /* border: #14256a solid 2px; */
}

.trade-logs {
    background-color: var(--sidebar-bg);
  
}
.card-content {
    height: 100%;
    width: 100%;
    display: block;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    top: 0;
    /* border-bottom: #14256a solid 2px; */
}

.card-header  h3{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 8px;
    line-height: 24px;
    color: #14256a;
    /* flex-basis: 30%; */
    height:min-content;
    text-transform: uppercase;
    border-radius: 8px;
    
}

.card-header button {
    padding: 8px 15px;
    font-size: 18px;
    background-color: var(--blue-300);
    border-radius: 5px;
    color: var(--sidebar-bg);
    font-weight: 500;
    border: none;
}

.card-body {
    overflow: auto;
    /* text-align: center; */
}
table {
    border-collapse: collapse;
}

thead tr td{
    border-top: 1px solid #f0f0f0;
    /* border-bottom: 2px solid #f0f0f0; */
    padding: 15px 18px;
    background-color: #F8FAFF;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #64c5b1;
}

td {
    padding: 15px 18px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #7e7172;
    white-space: nowrap;
}

