*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --sidebar-bg: #FFFFFF;
    --header-bg: #FDFEFF;
    --main-bg: #F6F5F7;
    --green-300: #62C3B1;
    --blue-300: #567AED;
}

body {
    font-family: 'Nunito Sans', sans-serif;;
    background-color: var(--main-bg);
}

a{
    color: inherit;
    background-color: inherit;
}

input, 
button,
textarea {
    font-family: inherit;
}

.main-content {
    /* margin-left: 250px; */
    background-color: var(--main-bg);
    width: calc(100% - 60px);
    position: relative;
    margin: 30px;
}

.trade-logs {
    background-color: var(--sidebar-bg);
  
}
.card-content {
    height: 100%;
    width: 100%;
    display: block;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 18px;
    top: 0;
    /* border-bottom: #14256a solid 2px; */
}

.card-header  h3{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 8px;
    line-height: 24px;
    color: #14256a;
    /* flex-basis: 30%; */
    height:min-content;
    text-transform: uppercase;
    border-radius: 8px;
    
}

.card-header button {
    padding: 6px 14px;
    font-size: 12px;
    background-color: var(--blue-300);
    border-radius: 5px;
    color: var(--sidebar-bg);
    font-weight: 800;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px;
    width: 120px;
}

.first-child{
    display: flex;
    gap: 5px;
    text-align: center;
    align-items: center;
}

.card-header .btn-add{
    color: #FFFFFF;
    
}

.card-header .btn-download{
    color: #FFFFFF;
    background-color: green;
    
}

.card-header .btn-logout{
    background-color: red;
    color: #FFFFFF;
}

.card-body {
    overflow: auto;
    height: calc(100vh - 140px);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
table {
    border-collapse: collapse;
}

thead tr td{
    border-top: 1px solid #f0f0f0;
    /* border-bottom: 2px solid #f0f0f0; */
    /* padding: 12px 2px; */
    background-color: #F8FAFF;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #64c5b1;
    text-transform: capitalize;
}



td {
    padding: 10px 2px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #888888;
    white-space: nowrap;
    text-transform: capitalize;
    /* border-bottom: 0.5px solid #05d34e; */
    /* border: 1px black solid; */
    
}

td:nth-child(1){
    width: 40px;
}

td:nth-child(2){
    width: 120px;
}

td:nth-child(3){
    width: 120px;
}

td:nth-child(4){
    width: 80px;
}

td:nth-child(5){
    width: 80px;
}

td:nth-child(6){
    width: 80px;
}

td:nth-child(7){
    width: 80px;
}

td:nth-child(8){
    width: 120px;
}

td:nth-child(9){
    width: 100px;
}

td:nth-child(10){
    width: 100px;
}

td:nth-child(11){
    width: 100px;
}

td:nth-child(12){
    width: 100px;
}

td:nth-child(13){
    width: 120px;
}

td:nth-child(14){
    width: 120px;
}

.win {
    padding: 2px 20px;
    font-size: 12px;
    font-weight: 600;
    color: #fff!important;
    background: #05d34e;
    border-radius: 30px;
    text-transform: capitalize;
    white-space: nowrap;
    min-width: 70px;
    text-align: center;
}

.loss{
    padding: 2px 20px;
    font-size: 12px;
    font-weight: 600;
    color: #fff!important;
    background: #D54D52;
    border-radius: 30px;
    text-transform: capitalize;
    white-space: nowrap;
    min-width: 70px;
    text-align: center;
}

.check {
    height: 14px;
    width: 14px;
}

.action {
    cursor: pointer;
}

/* Pagination */

.pagination {
    display: inline-block;
    margin-top: 15px;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
  
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }


